/* 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
 */

 /* debug */
.box{
    background-color: orange;
    min-height: 400px;
    border: 1px solid black;
    color: white;
    width: 100%;
}
/* / debug */


ul{
    list-style-type: none;
}

header{
    background-color: #2C3E50;
}

header nav ul{
    min-height: 50px;
    margin: 0;
}

section{
    padding: 4rem 0;
}

#start , #about{
    background-color: #1ABC9C;
}



