/* 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
 */

/* RESET */

img{
    max-width: 100%;
}

a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

span{
    display: inline-block;
    vertical-align: middle;
}



/* COMMON */

.barra{
    height: 3px;
    width: 60px;
    background-color: black;
    margin: 0 .5rem;
}

.box-centrale{
    width: 60%;
    margin: 0 auto;
}

.box-centrale img{
    max-width: 35%;
}



/* HEADER */

header{
    background-color: #2C3E50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

header nav ul li{
    margin-left: 1rem;
}



/* MAIN */

main{
    padding-top: 50px;
}

section{
    padding: 2rem 0;
}

#start , #about{
    background-color: #1ABC9C;
}

.box-centrale .barra,
#about .barra{
    background-color: white;
}


/* CONTACTS */
#contacts div.input-group .input-group-text , 
#contacts div.input-group .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#contacts button.btn.btn-primary{
    background-color: #1ABC9C;
    transition: .25s linear;
    border-color: #1ABC9C;
}

#contacts button.btn.btn-primary:hover{
    box-shadow: 0px 0px 0px 3px rgba(247, 245, 245, 0.664) inset;
}



/* ABOUT */
#about a.btn.btn-primary{
    background-color: #1ABC9C;
    border-color: white;
    transition: .25s linear;
}

#about a.btn.btn-primary:hover{
    box-shadow: 0px 0px 0px 3px rgba(247, 245, 245, 0.664) inset;
}

#about a.btn.btn-primary span{
    vertical-align: middle;
}


/* FOOTER */

#footer-top{
    background-color: #3A546D;
}

#footer-bottom{
    background-color: #2C3E50;
}

.ms_fs{
    font-size: .5rem;
}

#footer-top .ms_circle{
    border: 1px solid white;
    border-radius: 100%;
    line-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    padding: auto;
    vertical-align: middle;
}